ul{
    list-style: none;
    padding: 0 20px 5px;
}
.menuItem{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
ul a.active{
    color: black;
}

.menu{
    background: grey;

}